body{
    margin:0;
    padding:0;
}

.hero{
    background-color:#1f2937;
    
}
.navbar{
    display: flex;
    justify-content: space-around;
    font-size:20px;
    color:#F9FAF8;
    padding:10px 0 50px 0;
}

ul{
    display: flex;
    list-style: none;
    gap:10px;
}

a, .welcome2{
    text-decoration: none;
    color:#E5E7EB;
}
.container, .container2{
    display:flex;
    flex-direction:column;
    align-items:center;  
}

img{
    max-width:100%;
    max-height:100%;
}
.nav-image{
    height: 100px;
    width: 100px;
    min-width: 70px;
}

.welcome-image{
    height: 500px;
    width: 500px;
}

.welcome{
    font-weight:800;
    font-size:48px;
    color:#F9FAF8;
}

.info-boxes{
    display:flex;
    max-height:100%;
    max-width:100%;
    padding-bottom:70px;
}

.box > img {
    border:solid;
    border-color: #3882F6;
    border-radius: 50%;
}
.box{
    display:Flex;
    flex-direction:column;
    height:300px;
    width:300px;
    align-items:center;
    padding:40px 0;

}

.description{
    font-size:30px;
    color:#1f2937;
    font-weight: bold;
    padding:30px;
}
footer{
    text-align:center;
    background-color:#1f2937;
    color:#F9FAF8;
    padding:30px;
    
}

button{
    background-color:#3882F6;
    color:#F9FAF8;
}

.img-border{
    border:solid;
    border-color: orange;
    border-radius: 30%;
    
}
.header-text{
    font-size:50px;
}

.container3{
    background-color: #E5E7EB;
    color:#1F2937;
    font-size:36px;
    font-style: italic;
    padding:70px 300px;
    display:flex;
    flex-direction:column;

    
}
.signature{
    text-align:end;
    font-style:normal;
    font-weight: bold;
}